# Pandas Textbook for Digital Humanities

## Chapter Two: The Basics of Pandas

## Covered in this Chapter

1) How to Create a DataFrame from a Dictionary<br>
2) How to Display a DataFrame<br>
3) How to Save a DataFrame to CSV<br>
4) How to Create a DataFrame from a CSV File<br>
5) How to Create a DataFrame from a JSON File<br>
6) How to Add a Column to a DataFrame<br>
7) How to Grab a Specific Column of a DataFrame<br>
8) How to Grab a Specific Row of a DataFrame

## How to Create a DataFrame from a Dictionary

In [1]:
import pandas as pd

In [2]:
names_dict = {"names":
        [
            "Tom",
            "Mary",
            "Jeff",
            "Rose",
            "Stephanie",
            "Rodger"
        ]}

In [3]:
df = pd.DataFrame(names_dict)

In [5]:
df

       names
0        Tom
1       Mary
2       Jeff
3       Rose
4  Stephanie
5     Rodger

In [6]:
df.to_csv("data/names.csv")